/** General  */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
big,
small,
strong,
ul,
li {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
  outline: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

footer,
header,
section {
  display: block;
}

ul {
  list-style: none;
}

a img {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 25px 0;
  line-height: 1.1;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 25px 0;
  text-align: justify;
}

strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

/**   Elements */

ul {
  margin: 0 0 25px 20px;
}

ul {
  list-style: square;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/**  Aides  */

.container:before {
  content: " ";
  display: block;
  top: 80px;
  height: fit-content;
}
.container:after {
  content: " ";
  display: block;
}

.container:after {
  clear: both;
}
.container {
  *zoom: 1;
}

/** Icons  */

.icon {
  display: inline-block;
  vertical-align: middle;
}

/**  Grid  */

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1025px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

/** Social */

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 5px 15px;
}
.social li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
  -moz-transition: -moz-transition, background-color 0.25s linear 0s;
  transition: transition, background-color 0.25s linear 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.social li a,
.social li a .icon {
  line-height: 45;
}
.social li a .icon {
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  display: block;
}

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .social li a {
    width: 35px;
    height: 35px;
  }
  .social li a,
  .social li a .icon {
    line-height: 35px;
  }
  .social li a .icon {
    font-size: 17px;
  }
}

/** Containers */

body {
  color: #3d4451;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #efefef;
}

.wrapper {
  opacity: 1;
  visibility: visible;
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.content {
  z-index: 2;
  position: relative;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.section {
  padding-top: 70px;
}

.section-box {
  padding: 40px 50px;
}

.section-title {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.section-box,
.timeline-box-inner,
.profile-photo img {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media (max-width: 992px) {
  .section-box {
    padding: 50px 40px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
  }

  .section-box {
    padding: 30px 20px;
  }

  .section-title {
    font-size: 30px;
  }
}

/** Header */

.header {
  position: relative;
  margin-bottom: 75px;
  box-sizing: content-box;
}

.head-bg {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  position: absolute;
  background-size: cover;
  background-color: #07cb79;
  background-repeat: no-repeat;
  background-position: center;
}
.head-bg:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #07cb79;
}

/** Header With BkgImage */

.header-has-img .header {
  margin-bottom: 40px;
}
.header-has-img .head-bg {
  height: 270px;
  display: block;
}
.header-has-img.home .head-bg {
  height: 515px;
}
.header-has-img .head-bar {
  background-color: transparent;
  box-shadow: none;
}

/**  About Section */

.section-about {
  padding-top: 40px;
  position: relative;
}
.section-about .section-box {
  padding: 0;
}
.section-about .profile {
  padding: 57px 50px 15px 50px;
}
.section-about .profile-photo {
  margin-right: 10%;
  margin-bottom: 10px;
}
.section-about .profile-info {
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.section-about .profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-about .profile-title span {
  font-weight: 300;
}
.profile-title a {
  color: #07cb79;
}
.section-about .profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}

.profile-photo img {
  width: 100%;
  display: block;
}

.profile-preword {
  margin-bottom: 28px;
}
.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
  background-color: #07cb79;
}
.profile-preword span:before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #07cb79;
}

.profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-list li {
  margin-bottom: 13px;
}
.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}
.profile-list .cont a {
  color: inherit;
}
.profile-list .cont.profile-vacation {
  font-size: 14px;
}
.profile-list .button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  padding: 5px 8px;
  display: inline-block;
  position: relative;
  top: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #07cb79;
}
.profile-list .icon {
  margin-right: 10px;
  vertical-align: baseline;
}

.profile-social {
  padding: 15px 0;
  background-color: #07cb79;
}

@media (max-width: 992px) {
  .section-about .profile {
    padding: 50px 40px 15px 40px;
  }
  .section-about .profile-photo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .section-about {
    padding-top: 0;
  }
  .section-about .profile {
    padding: 30px 20px 15px 20px;
  }

  .profile-list .title,
  .profile-list .cont {
    width: 100%;
    float: none;
    line-height: 1.2;
  }
  .profile-list .title {
    margin-bottom: 3px;
  }
  .profile-list .cont {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .section-about .row > div {
    width: 100%;
  }
  .section-about .profile-title {
    font-size: 28px;
  }
}
/**  Skills Section  */

.section-skills .section-box {
  padding-bottom: 50px;
}

.progress-bar {
  position: relative;
  margin-bottom: 40px;
}
.progress-bar .bar-data {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
.progress-bar .bar-value {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
.progress-bar .bar-title {
  display: block;
  margin-bottom: 5px;
}
.progress-bar .bar-fill {
  width: 0;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: width 400ms ease-out 100ms;
  -moz-transition: width 400ms ease-out 100ms;
  transition: width 400ms ease-out 100ms;
}
.progress-bar .bar-line {
  height: 5px;
  position: relative;

  background: #f3efe6;
  overflow: hidden;
}
.progress-bar .bar-line:after {
  content: "";
  opacity: 0.2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.bar-line .bar-fill span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #07cb79;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .section-skills .section-box .row:last-child .progress-bar {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .section-skills .section-box {
    padding-bottom: 35px;
  }
  .section-skills
    .section-box
    .row:last-child
    .col-sm-6:last-child
    .progress-bar {
    margin-bottom: 0;
  }
}

/**  Timeline Section  */

.timeline {
  position: relative;
}
.timeline .timeline-bar {
  content: "";
  width: 4px;
  opacity: 0.2;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  top: 0;

  height: 100%;

  background-color: #07cb79;
}

.timeline .timeline-inner {
  position: relative;
  display: flow-root;
}

.timeline-box {
  width: 50%;
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;
}

.timeline-box:last-child {
  margin-bottom: 0;
}

.timeline-box a,
.timeline-box img {
  display: inline-block;
  vertical-align: middle;
}

.timeline-box h3 a,
.timeline-box h4 a {
  color: inherit;
}

.timeline-box h3 {
  color: #414141;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
}
.timeline-box h4 {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.timeline-box .date {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}

.timeline-box .timeline-head {
  text-align: center;
  margin-bottom: 30px;
}

.timeline-box-compact .date,
.timeline-box-compact h3,
.timeline-box-compact h4 {
  text-align: left;
}
.timeline-box-compact .date span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  display: inline-block;
  position: relative;
  padding: 4px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-box-compact .date span:before {
  content: "";
  width: 0;
  height: 0;
  top: -21%;
  left: 70px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0px 0px;
  border-color: transparent;
  border-right-color: #07cb79;
}

.timeline-box-inner {
  padding: 20px 5%;
  position: relative;
  border-width: 5px 0 0 0;
  border-style: solid;
}

.timeline-box-left .dot,
.timeline-box-right .dot {
  top: 80px;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #07cb79;
}
.timeline-box-left .arrow,
.timeline-box-right .arrow {
  top: 60px;
  width: 12px;
  height: 41px;
  display: block;
  position: absolute;
  background-image: url(img/arrows.png);
  background-repeat: no-repeat;
}
.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
  width: 0;
  height: 0;
  content: "";
  display: block;
}

.timeline-box-left {
  float: left;
  clear: left;
}
.timeline-box-left .timeline-box-inner {
  margin-right: 35px;
}
.timeline-box-left .timeline-box-inner .arrow {
  right: -12px;
  background-position: -18px 0;
}
.timeline-box-left .timeline-box-inner .arrow:before {
  margin-right: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
}
.timeline-box-left .dot {
  right: 0px;
  margin-right: -4px;
}

.timeline-box-right {
  float: right;
  clear: right;
}
.timeline-box-right .timeline-box-inner {
  margin-left: 35px;
}
.timeline-box-right .timeline-box-inner .arrow {
  left: -12px;
  background-position: 0 0;
}
.timeline-box-right .timeline-box-inner .arrow:before {
  margin-left: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid #fff;
}
.timeline-box-right .dot {
  left: 0px;
  margin-left: -4px;
}

.box .date {
  background-color: #07cb79;
  width: 90px;
  margin: 2px;
  text-align: center;
  margin: 15px 0 0 0;
}

@media (max-width: 600px) {
  .timeline-box {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-box .timeline-box-inner {
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-box .timeline-box-inner .arrow {
    display: none;
  }
  .timeline-box .dot {
    display: none;
  }
}

/** Footer  */
.footer {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 30px;
  }
}

/**** Animations */

.desktop .animate-up {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.desktop .animate-up.animated {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 400ms ease-out 100ms,
    opacity 400ms ease-out 100ms;
  -moz-transition: -moz-transform 400ms ease-out 100ms,
    opacity 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

/**
 * Old Browsers
 */

.no-rgba .head-bg:before {
  background-color: #07cb79;
}

.no-opacity .bar-line:after {
  background-color: #dedede !important;
  opacity: 1;
}

.no-opacity.theme-skin-dark .bar-line:after {
  background-color: #525458 !important;
  opacity: 1;
}

.no-boxshadow .section-box,
.no-boxshadow .sidebar-default .profile-photo img {
  border: 1px solid #dedede;
}

.no-boxshadow .timeline-box-inner {
  border: 1px solid #dedede !important;
}

.no-boxshadow.theme-skin-dark .section-box,
.no-boxshadow.theme-skin-dark .profile-photo img {
  border: 1px solid #525458;
}

.no-boxshadow.theme-skin-dark .timeline-box-inner {
  border: 1px solid #525458 !important;
}
